{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<h2> What is Walmart on Request? </h2>
<p> <b>Walmart on Request is a platform to help consumers get the deals they want, when they want.</b><p>

<p>Let's assume that it's April 2014 and the new Apple Iphone 6s has just been released. Most retailers will immediately offer discounts on <i>iphone 5s</i> i.e. the older models. But you don't want to settle do you? </p>
<p> You want the Iphone 6s and you want a discount on it. </p>

<p>We at Walmart on request are here to help you achieve this aim (not joking, promise) using the might of the largest retailer in the world (and our own convincing skills ;) ).
The idea is pretty simple: find a large group of people looking to buy a particular product at discount and then negotiate with the seller for a discount. </p>

<p>We also provide you regular updates about stuff Walmart offers discounts on. You will get an immediate email if Walmart offers a discount on any of the products in your wishlist. </p>

<h2> What should I do if I want a discount?</h2>
Pretty simple really.
<ul>
	<li> Search for that product on Walmart Requests </li>
	<li> Add it to your wishlist </li>
	<li> Try and find other people also interested in purchasing that product (maybe via social media) </li>
</ul>
And that's pretty much it. We will send you a mail informing you when your product is listed on discount. 

<h2> What's the catch? </h2>
No catch. Seriously.
We believe that discounts and deals should be driven by the interests and needs of the consumer and not the convenience of the seller. Walmart has always been committed to providing the consumers with the lowest price possible. This is just another step in that direction.

<h2> Will there be any conditions on the discounts? </h2>
Now that's something which can only be answered on a deal by deal basis. In general though, we promise the lowest rates without any pre-conditions. Some deals might be offered only if the sales exceed a pre-decided threshold. Otherwise, we are condition free for you.
{% endblock %}
